<div class="parallax-container row no-gutters">
    <div class="col-6 parallax1">
        <div class="parallax-box1">
            <div class="parallax-text">Sunshine State of Mind</div>
            <div class="parallax-link">See Our Lookbook</div>
        </div>
    </div>
    <div class="col-6 parallax2">
        <div class="parallax-box2">
            <div class="parallax-text">Best Time for a Sale is Always</div>
            <div class="parallax-link">Shop Sale Items</div>
        </div>
    </div>
</div>
