{% extends 'base.html.twig' %}

{% block body %}
    {% include '@Index/IndexPage/navbar.html.twig' %}
    <div class="container">
        <div class="head-title shop-all-title">EQUALS</div>

        <div class="container">
            <div class="about-title">Equals clothing. Made by humans, for humans.</div>
            <div class="about-paragraph">
                I'm a paragraph. Click here to add your own text and edit me. It’s easy.
                Just click “Edit Text” or double click me to add your own content and make changes to the font.
                Feel free to drag and drop me anywhere you like on your page.
                I’m a great place for you to tell a story and let your users know a little more about you.
            </div>
        </div>
    </div>

    {% include '@Index/IndexPage/footer.html.twig' %}
{% endblock %}