{% extends 'base.html.twig' %}

{% block body %}
    {% include '@Index/IndexPage/navbar.html.twig' %}
    <div class="container">
        <div class="head-title shop-all-title">EQUALS</div>
        <div class="shop-all-text">STORE POLICY</div>

        <div class="container">
            <div class="row justify-content-around">
                <div class="col-5">
                    <div class="policy-title">Customer Care</div>
                    <div class="policy-paragraph">
                        <p>
                            I’m a customer care section. I’m a great place to write a long text about your company and your services,
                            and, most importantly, how to contact your store with queries. Writing a detailed customer care policy
                            is a great way to build trust and reassure your customers that they can buy with confidence.
                        </p>
                        <p>
                            I'm the second paragraph in your customer care section. Click here to add your own text and edit me.
                            It’s easy. Just click “Edit Text” or double click me to add details about your policy and make changes
                            to the font. I’m a great place for you to tell a story and let your users know a little more about you.
                        </p>
                    </div>
                </div>
                <div class="col-5">
                    <div class="policy-title">Privacy & Safety</div>
                    <div class="policy-paragraph">
                        <p>
                            I’m a customer care section. I’m a great place to write a long text about your company and your services,
                            and, most importantly, how to contact your store with queries. Writing a detailed customer care policy
                            is a great way to build trust and reassure your customers that they can buy with confidence.
                        </p>
                        <p>
                            I'm the second paragraph in your customer care section. Click here to add your own text and edit me.
                            It’s easy. Just click “Edit Text” or double click me to add details about your policy and make changes
                            to the font. I’m a great place for you to tell a story and let your users know a little more about you.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="policy-title"></div>
                    <div class="about-paragraph"></div>
                </div>
                <div class="col-6">
                    <div class="policy-title"></div>
                    <div class="about-paragraph"></div>
                </div>
            </div>
        </div>
    </div>

    {% include '@Index/IndexPage/footer.html.twig' %}
{% endblock %}